Hi! My name is $NAME, and I'm a professional worker with a full-time job in the tech industry. I'm looking for a room to move into by the end of this month.

A little about me:
* into reading medical/science/tech articles, watching movies/shows, badminton/tennis/ping pong, billiards, board/multiplayer video games, walking, biking, etc.
* down to hang out with my roomies if the vibe's right
* respectful, clean, responsible, friendly, and don't smoke (though 420-friendly)

If all of that sounds good to you, then I'd love to find out more about your listing :)

To better ensure this would be a good fit for me, I do want to share some of my preferences (apologies if I missed any of these in your ad).

For the right place, not all of these are deal-breakers:
[ ] - unfurnished bedroom comfortably fits a king bed and desk (130+ sq. ft.)
[ ] - laundry machines within unit/building/1 long block (700 ft.)
[ ] - within 3 long blocks (1400 ft.) of a subway stop
[ ] - quiet environment (e.g., minimal noise from radiators, floors, neighbors, planes, trains, traffic, construction, animals, etc.)
[ ] - ~6-month lease permitted (ideally with month-to-month option afterward)
[ ] - reliable high speed Internet
[ ] - it'd be ok for me to hook up my personal router to the existing one so I can manage my own WiFi network
[ ] - LGBT-friendly residence
[ ] - anyone who cooks food with strong aromatics (e.g., meat, seafood, curry) is ok using fans, open windows, candles, etc.
[ ] - electronic payment accepted for rent and utilities (Zelle, Venmo, credit/debit card, etc.)

And some questions:
* Would you be able to let me know which of the above the available room meets?
* What led to the vacancy?
* How many flights of stairs are there between the sidewalk and the bedroom?
* Is there an elevator?

Feel free to ask me questions, of course!

Thanks, and I hope to hear from you soon :)

Craiglist's email relay system is super flaky, so feel free to reach out to me here:
cl_renter@gmail.com


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
