Hey there! My name is $NAME, and I work full-time in the tech world. I'm looking for a new place to call home by the end of this month, and yours caught my eye!

A little about me:
* into reading medical/science/tech articles, watching movies/shows, badminton/tennis/ping pong, billiards, board/multiplayer video games, walking, biking, etc.
* down to hang out with my roomies if the vibe's right
* respectful, clean, responsible, friendly, and don't smoke (though 420-friendly)

If all of that sounds good to you, then I'd love to find out more about your place!

Just to make sure this would be a good fit for me, I do want to share a few things I'm looking for (apologies if I missed any of these in your ad).

For the right place, not all of these are deal-breakers:
[ ] - A bedroom that comfortably fits a king bed and desk (~130+ sq. ft.)
[ ] - Laundry within the unit, building, or close by (within a 5-minute walk)
[ ] - A spot within 3 long blocks (1400 ft.) of a subway stop
[ ] - A generally quiet environment (e.g., minimal noise from radiators, neighbors, planes, trains, traffic, construction, animals, etc.)
[ ] - Ideally, a ~6-month lease permitted with the option to go month-to-month option after
[ ] - Fast and reliable Internet (bonus points if I'm allowed to hook up my personal router to manage my own WiFi network)
[ ] - An LGBT-friendly environment
[ ] - Roommates are cool with using fans/windows for strong cooking smells
[ ] - The ability to pay rent and utilities electronically (Zelle, Venmo, etc.)

Out of curiosity:
* Which of these does the room/apartment have?
* What led to the vacancy?
* Is there an elevator?
* If not, about how many stairs are there between the sidewalk and the bedroom?

Of course, feel free to ask me anything about myself, too!

Looking forward to hearing from you!

Best,
$NAME

P.S. Craiglist's email can be finicky, so feel free to reach me directly at:
cl_renter@gmail.com


=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
